.App {
  text-align: center;
}

.App-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}

.App-header h1 {
  margin: 0;
  color: white;
  font-size: 2.5em;
}
