.map-container {
  width: 100vw;
  height: 100vh;
}

.controls-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.control-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
